.tarefasContent {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #333333;
}

.tarefasCriadas, .tarefasConcluidas {
  display: flex;
  gap: 1rem;
  font-weight: bold;
  font-size: 14px;
}

.tarefasCriadas p {
  color: var(--blue-300);
}

.tarefasConcluidas p {
  color: var(--purple-300);
}

.tarefasCriadas span, .tarefasConcluidas span {
  color: var(--white);
  background-color: var(--gray-400);
  border-radius: 15px;
  padding: 5px 10px;
}

.semTarefas {
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: center;
  color: var(--gray-300);
  margin: 3rem 0;
}

.comTarefas {
  display: flex;
  align-items: center;
  background: var(--gray-500);
  padding: 2rem;
  color: var(--gray-100);
  justify-content: space-between;
  border-radius: 8px;
}
.comTarefas + .comTarefas {
  margin: 2rem 0;
}
.textTarefa {
  display: flex;
  gap: 1rem;
  max-width: 90%;
}